    <gazebo reference="Lidar_Link">
            <sensor name="sensor_ray" type="ray">
                <pose>0.0 0.0 0.0 0.0 0.0 0.0</pose>
                <ray>
                    <scan display="true">
                        <horizontal>
                            <samples>300</samples>
                            <resolution>1.0</resolution>
                            <min_angle>-1.57</min_angle>
                            <max_angle>+1.57</max_angle>
                        </horizontal>
                        <vertical>
                            <samples>100</samples>
                            <resolution>1.0</resolution>
                            <min_angle>-0.5236</min_angle>
                            <max_angle>0.5236</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.05</min>
                        <max>50.0</max>
                    </range>
                </ray>
                <!-- test plugin -->
                <plugin name="plugin_1" filename="libgazebo_ros_block_laser.so">
                    <gaussianNoise>0.00</gaussianNoise>
                    <alwaysOn>true</alwaysOn>
                    <updateRate>20</updateRate>
                    <topicName>/BlockLaserCloud</topicName>
                    <frameName>scan</frameName>
                </plugin>
                <always_on>true</always_on>
                <update_rate>10.0</update_rate>
            </sensor>

                    <turnGravityOff>true</turnGravityOff>
        <material>Gazebo/Green</material>
    </gazebo>
